.main-view-container {

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transform: skewX();
}

.content {
  flex: 1;
  display: flex;
}

.split-screen {
  display: flex;
  width: 100%;
}

.left-screen {
  flex: 0 0 80%; /* 80% width */
  background-color: #93c1da38; /* Light background color */
  overflow: auto; /* Enable scrolling */
  width: 100%; /* Set maximum height */
  height: 100%; /* Ensure it doesn't exceed the container */
  margin: auto; /* Center it */
}

.right-screen {
  flex: 0 0 20%; /* 20% width */
  padding: 10px; /* Optional padding */
  background-color: #f9f9ff; /* Light background color */
  
}

.viz-viewer {
  font-family: 'Courier New', Courier, monospace; /* Added monospace font */
  overflow: hidden; /* Prevent zooming outside of VizViewer */

}

.error {
  color: red;
  margin-top: 10px;
}

/* Removed unused styles */
/* ... other styles not used in MainView.js or VizViewer.js ... */

.svg-container {
    overflow: auto; 
    transform: scale(10);
    transform-origin: 0 0; 
    width: 100%; 
    height: 100%; 
}